<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>Formularios</title>
</head>
<body>
    
<header>
      <h1>Prototipos de Formularios</h1>
    </header>

<hr>

    <main>
      <section class=" cntainer-fluid row  m-5">
        <section class="col-2 m-2 p-3 shadow p-3 mb-5 bg-body-tertiary rounded">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Registro de usuario</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Contacto Profesional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/CitaMedica.html">Cita Médica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Pedidos.html">Formulario de Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/EvaluacionServicios.html">Evaluación de Servicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/SolicitudEmpleo.html">Solicitud de Empleo</a>
            </li>
          </ul>
        </section>
        <section class="col 10 m-2 shadow p-3 mb-5 bg-body-tertiary rounded">
          <h3>Contacto Profesional</h3>
          <br>
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control border-primary"
                placeholder="Nombres"
                aria-label="First name"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control border-primary"
                placeholder="Apellidos"
                aria-label="Last name"
              />
            </div>
          </div>
          <br>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
    <div class="col-sm-11">
      <input type="email" class="form-control border-primary" id="inputEmail3">
    </div>
  </div>
  <br>
<select class="form-select" aria-label="Default select example">
  <option selected>Tema de Contacto</option>
  <option value="1">Consultas generales</option>
  <option value="2">Soporte técnico</option>
  <option value="3">Ventas/Presupuestos</option>
  <option value="3">Facturación/Pagos</option>
  <option value="3">Empleo/Carreras</option>
</select>
<br>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

    <div class="form-check m-3">
  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
  <label class="form-check-label" for="checkDefault">
    Recibir Newsletter
  </label>
</div>

<div class="row mx-1">
  <button type="button" class="btn btn-primary">Enviar mensaje</button>
</div>

        </section>
      </section>
    </main>

</body>
</html>